.GivenPoint {
  margin-bottom: 1rem;
  display: flex;
}

.Left {
  float: left;
}

.Right {
  float: right;
  flex-direction: row-reverse;
}

.Right .PointsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Left > :first-child {
  margin-right: 0.5rem;
}

.Right > :first-child {
  margin-left: 0.5rem;
}

.Right {
  flex-direction: row-reverse;
}

.Calculation {
  margin-top: 0.5rem;
  height: 2rem;
  width: 10rem;
  background: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 0 6px 0 rgba(26, 47, 83, 0.5);
  font-size: 0.75rem;
  line-height: 0.875rem;
  display: flex;
  align-items: center;
  padding: 0.5625rem 1rem;
}

.Left .Calculation {
  float: left;
}

.Right .Calculation {
  float: right;
}

.Result {
  font-size: 1.2rem;
  background: #1E8FE1;
  color: #FFFFFF;
  padding: 0.5rem;
  opacity: 0.5;
}

.Winner {
  background: #4BB543;
}